extends base

block content
  .form--signup     
    h2.heading-secondary.ma-bt-lg Find your Natours account
    form.form__forgotPassword--continue
      .form__group.ma-bt-md  
        label.form__label(for='email') Email address or mobile number
        input#emailOrPhone.form__input(type='text', placeholder='Email address or mobile number', required)
        small#small Mobile format: 123-455-6784
      .form__group
        button.btn__form--local.btn--green Continue