extends base

block content
  .form--signup       
    h2.heading-secondary.ma-bt-lg
      | Sign Up with email
      a(href="/phoneSignup") ( Use phone instead )
    form.form__email--signup
      .form__group
        label.form__label(for='name') Username
        input#name.form__input(type='text', placeholder='example example', required)
      .form__group.ma-bt-md  
        label.form__label(for='email') Email address
        input#email.form__input(type='email', placeholder='you@example.com', required)
      .form__group.ma-bt-md
        label.form__label(for='password') Password
        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
      .form__group.ma-bt-md
        label.form__label(for='passwordConfirm') Password Confirm
        input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
      .form__group.ma-bt-md
        .form__group.form__photo-upload
          input.form__upload(type='file', accept='image/*', id='photo', name='photo')
          label(for='photo') Choose new photo
      .form__group
        button.btn__form--local.btn--green Signup